.span10
  %ul.thumbnails
    %li
      %a.thumbnail
        %img{:'data-src' => "holder.js/420x420", :alt => ""}
      %h4 image label
      %p image description
    %li
      %a.thumbnail
        %img{:'data-src' => "holder.js/180x180", :alt => ""}
    %li
      %a.thumbnail
        %img{:'data-src' => "holder.js/180x180", :alt => ""}
    %li
      %a.thumbnail
        %img{:'data-src' => "holder.js/180x180", :alt => ""}
    %li
      %a.thumbnail
        %img{:'data-src' => "holder.js/180x180", :alt => ""}

.span2
  %ul.nav.nav-tabs.nav-stacked
    %li.active
      %a{:href => '#'} home
    %li
      %a{:href => '#'} profile
    %li
      %a{:href => '#'} demo
    %li
      %a{:href => '#'} test

.span12
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#'} home
    %li
      %a{:href => '#'} demo
  .span10
    %ul.thumbnails
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}


.span12
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#'} home
    %li
      %a{:href => '#'} demo
  .span10
    %ul.thumbnails
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
      %li
        %a.thumbnail
          %img{:'data-src' => "holder.js/180x180", :alt => ""}
